header,footer{
    padding: 0 50px;
}
.section_2,.section_3,.section_4,.section_5{
    padding: 150px 50px;
}
.container{
    width: 100%;
    height: 100%;
    /* padding: 0 110px; */
    padding: 0 50px;
}

@media screen and (max-width: 1513px) {
    header,footer{
        padding: 0 30px;
    }
    .section_2,.section_3,.section_4,.section_5{
        padding: 100px 30px;
    }
    .container{
        padding: 0;
    }
}

@media screen and (max-width: 840px) {
    header,footer{
        padding: 0 25px;
    }
    .section_2,.section_3,.section_4,.section_5{
        padding: 70px 25px;
    }
    
}

@media screen and (max-width: 500px) {
    header,footer{
        padding: 0 10px;
    }
    .section_2,.section_3,.section_4,.section_5{
        padding: 100px 10px;
    }
    
}