*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a{display: block; text-decoration: none; color: #333;}
img{border: 0; display: block;}
body{font-family: 'Nanum Gothic', sans-serif; color: #333;}
